flows/01_taxi_ingest.yaml
id: taxi_data_ingestion
namespace: practice

inputs:
  - id: taxi
    type: SELECT
    displayName: Select taxi type
    values: [yellow, green]
    defaults: yellow

  - id: year
    type: SELECT
    displayName: Select year
    values: ["2019", "2020"]
    defaults: "2019"

  - id: month
    type: SELECT
    displayName: Select month
    values: ["01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12"]
    defaults: "01"

variables:
  file: "{{inputs.taxi}}_tripdata_{{inputs.year}}-{{inputs.month}}.csv"
  staging_table: "public.{{inputs.taxi}}_tripdata_staging"
  table: "public.{{inputs.taxi}}_tripdata"
  data: "{{outputs.extracts.outputFiles[inputs.taxi ~ '_tripdata_' ~ inputs.year ~ '-' ~ inputs.month ~ '.csv']}}"

tasks:
  - id: set_label
    type: io.kestra.plugin.core.execution.Labels
    labels:
      files: "{{render(vars.file}}"
      taxi: "{{inputs.taxi}}"

  - id: extract
    type: io.kestra.plugin.scripts.shell.Commands
    outputFiles:
      - "*.csv"
    taskRunner:
      type: io.kestra.plugin.core.runner.
    commands:
      - wget -qO https://github.com/DataTalksClub/nyc-tlc-data/releases/download/{{inputs.taxi}}/{{render(vars.file)}}.gz | gunzip > {{render(vars.file}}

  - id: green_create_table
    type: io.kestra.plugin.jbdc.postgresql.Queries
    sql: |
      CREATE TABLE IF NOT EXITS {{render(vars.table)}} (
      unique_row_id          text,
      filename               text,
      VendorID               text,
      tpep_pickup_datetime   timestamp,
      tpep_dropoff_datetime  timestamp,
      passenger_count        integer,
      trip_distance          double precision,
      RatecodeID             text,
      store_and_fwd_flag      text,
      PULocationID           text,
      DOLocationID           text,
      payment_type           integer,
      fare_amount            double precision,
      extra                  double precision,
      mta_tax                double precision,
      tip_amount             double precision,
      tolls_amount           double precision,
      improvement_surcharge  double precision,
      total_amount           double precision,
      congestion_surcharge   double precision
      );

pluginDefaults:
  - type: io.kestra.plugin.jdbc.postgresql
    values:
      url: jdbc:postgresql://pgdatabase:5432/ny_taxi
      username: root
      password: root
