flows/3_3mtt_ingest-metadata.yaml
id: 3_3mtt_ingest-metadata
namespace: deeptech
description: |
  Metadata-only pipeline: fetches RSS feeds from the catalog, extracts
  enriched episode metadata, and loads into Postgres. Runs hourly.

concurrency:
  limit: 1
  behavior: QUEUE

tasks:

  - id: ensure_runtime_schema
    type: io.kestra.plugin.jdbc.postgresql.Queries
    description: Keep scheduled runs alive if the init schema flow was only partially applied.
    sql: |
      CREATE TABLE IF NOT EXISTS pipeline_run_log (
        run_id              TEXT PRIMARY KEY,
        flow_id             TEXT,
        started_at          TIMESTAMP,
        finished_at         TIMESTAMP,
        status              TEXT,
        feeds_processed     INTEGER,
        episodes_inserted   INTEGER,
        episodes_skipped    INTEGER,
        error_message       TEXT
      );

      CREATE TABLE IF NOT EXISTS podcast_feeds (
        feed_id         SERIAL PRIMARY KEY,
        feed_name       TEXT NOT NULL,
        rss_url         TEXT NOT NULL UNIQUE,
        category        TEXT,
        is_active       BOOLEAN DEFAULT TRUE,
        added_at        TIMESTAMP DEFAULT NOW(),
        updated_at      TIMESTAMP,
        last_fetched_at TIMESTAMP
      );

      CREATE TABLE IF NOT EXISTS podcast_metadata (
        guid                    TEXT PRIMARY KEY
      );

      CREATE TABLE IF NOT EXISTS feed_fetch_failures (
        feed_id INTEGER,
        feed_name TEXT,
        rss_url TEXT,
        error_timestamp TIMESTAMP DEFAULT NOW(),
        error_type TEXT,
        UNIQUE(feed_id, error_timestamp)
      );
      ALTER TABLE feed_fetch_failures ALTER COLUMN error_timestamp SET DEFAULT NOW();

      CREATE TABLE IF NOT EXISTS feed_fetch_events (
        event_id SERIAL PRIMARY KEY,
        feed_id INTEGER,
        feed_name TEXT,
        rss_url TEXT,
        event_timestamp TIMESTAMP DEFAULT NOW(),
        status TEXT,
        error_type TEXT
      );
      ALTER TABLE feed_fetch_events ALTER COLUMN event_timestamp SET DEFAULT NOW();

      ALTER TABLE podcast_metadata ADD COLUMN IF NOT EXISTS title                   TEXT;
      ALTER TABLE podcast_metadata ADD COLUMN IF NOT EXISTS link                    TEXT;
      ALTER TABLE podcast_metadata ADD COLUMN IF NOT EXISTS description             TEXT;
      ALTER TABLE podcast_metadata ADD COLUMN IF NOT EXISTS duration                TEXT;
      ALTER TABLE podcast_metadata ADD COLUMN IF NOT EXISTS creator                 TEXT;
      ALTER TABLE podcast_metadata ADD COLUMN IF NOT EXISTS pubDate                 TEXT;
      ALTER TABLE podcast_metadata ADD COLUMN IF NOT EXISTS audio_url               TEXT;
      ALTER TABLE podcast_metadata ADD COLUMN IF NOT EXISTS created_at              TIMESTAMP DEFAULT NOW();
      ALTER TABLE podcast_metadata ADD COLUMN IF NOT EXISTS source                  TEXT;
      ALTER TABLE podcast_metadata ADD COLUMN IF NOT EXISTS duration_seconds        INTEGER;
      ALTER TABLE podcast_metadata ADD COLUMN IF NOT EXISTS pub_date                TIMESTAMP;
      ALTER TABLE podcast_metadata ADD COLUMN IF NOT EXISTS episode_number          INTEGER;
      ALTER TABLE podcast_metadata ADD COLUMN IF NOT EXISTS season_number           INTEGER;
      ALTER TABLE podcast_metadata ADD COLUMN IF NOT EXISTS category                TEXT;
      ALTER TABLE podcast_metadata ADD COLUMN IF NOT EXISTS keywords                TEXT;
      ALTER TABLE podcast_metadata ADD COLUMN IF NOT EXISTS description_word_count  INTEGER;
      ALTER TABLE podcast_metadata ADD COLUMN IF NOT EXISTS audio_file_size_bytes   BIGINT;
      ALTER TABLE podcast_metadata ADD COLUMN IF NOT EXISTS explicit                BOOLEAN;
      ALTER TABLE podcast_metadata ADD COLUMN IF NOT EXISTS image_url               TEXT;

  - id: start_log
    type: io.kestra.plugin.jdbc.postgresql.Queries
    sql: |
      INSERT INTO pipeline_run_log (run_id, flow_id, started_at, status)
      VALUES ('{{ execution.id }}', 'ingest-metadata', NOW(), 'running')
      ON CONFLICT (run_id) DO NOTHING;

  - id: fetch_active_feeds
    type: io.kestra.plugin.jdbc.postgresql.Query
    sql: |
      SELECT feed_id, feed_name, rss_url, category
      FROM podcast_feeds
      WHERE is_active = TRUE
      ORDER BY feed_id
    fetchType: FETCH

  - id: process_feeds
    type: io.kestra.plugin.core.flow.ForEach
    values: "{{ outputs.fetch_active_feeds.rows }}"
    concurrencyLimit: 1
    tasks:

      - id: rss_fetch
        type: io.kestra.plugin.scripts.python.Script
        outputFiles:
          - rss_content.xml
          - feed_fetch_failure.csv
          - feed_fetch_event.csv
        script: |
          import csv
          import urllib.request
          import xml.etree.ElementTree as ET
          from pathlib import Path
          
          url = "{{ fromJson(taskrun.value).rss_url }}"
          feed_name = "{{ fromJson(taskrun.value).feed_name }}"
          feed_id = "{{ fromJson(taskrun.value).feed_id }}"
          
          try:
              req = urllib.request.Request(url, headers={'User-Agent': 'Mozilla/5.0'})
              with urllib.request.urlopen(req, timeout=30) as response:
                  content = response.read()

              root = ET.fromstring(content)
              root_name = root.tag.split('}', 1)[-1].lower()
              if root_name not in ("rss", "feed"):
                  raise ValueError(f"Fetched content is not an RSS/Atom feed: root tag is {root_name}")
              
              Path('rss_content.xml').write_bytes(content)
              with open("feed_fetch_failure.csv", "w", newline="", encoding="utf-8") as f:
                  w = csv.DictWriter(f, fieldnames=["feed_id", "feed_name", "rss_url", "error_type"])
                  w.writeheader()
              with open("feed_fetch_event.csv", "w", newline="", encoding="utf-8") as f:
                  w = csv.DictWriter(f, fieldnames=["feed_id", "feed_name", "rss_url", "status", "error_type"])
                  w.writeheader()
                  w.writerow({
                      "feed_id": feed_id,
                      "feed_name": feed_name,
                      "rss_url": url,
                      "status": "success",
                      "error_type": "",
                  })
              print(f"Successfully fetched RSS from {feed_name}")
              
          except Exception as e:
              # Keep the flow moving; the failure is loaded into feed_fetch_failures below.
              Path('rss_content.xml').write_text(
                  '<?xml version="1.0" encoding="UTF-8"?><rss><channel></channel></rss>',
                  encoding="utf-8",
              )
              with open("feed_fetch_failure.csv", "w", newline="", encoding="utf-8") as f:
                  w = csv.DictWriter(f, fieldnames=["feed_id", "feed_name", "rss_url", "error_type"])
                  w.writeheader()
                  w.writerow({
                      "feed_id": feed_id,
                      "feed_name": feed_name,
                      "rss_url": url,
                      "error_type": str(e)[:500],
                  })
              with open("feed_fetch_event.csv", "w", newline="", encoding="utf-8") as f:
                  w = csv.DictWriter(f, fieldnames=["feed_id", "feed_name", "rss_url", "status", "error_type"])
                  w.writeheader()
                  w.writerow({
                      "feed_id": feed_id,
                      "feed_name": feed_name,
                      "rss_url": url,
                      "status": "failure",
                      "error_type": str(e)[:500],
                  })
              print(f"Failed to fetch {feed_name} from {url}: {str(e)}")

      - id: load_feed_fetch_failure
        type: io.kestra.plugin.jdbc.postgresql.CopyIn
        format: CSV
        header: true
        from: "{{ outputs.rss_fetch[taskrun.value].outputFiles['feed_fetch_failure.csv'] }}"
        table: feed_fetch_failures
        columns:
          - feed_id
          - feed_name
          - rss_url
          - error_type

      - id: load_feed_fetch_event
        type: io.kestra.plugin.jdbc.postgresql.CopyIn
        format: CSV
        header: true
        from: "{{ outputs.rss_fetch[taskrun.value].outputFiles['feed_fetch_event.csv'] }}"
        table: feed_fetch_events
        columns:
          - feed_id
          - feed_name
          - rss_url
          - status
          - error_type

      - id: check_fetch_success
        type: io.kestra.plugin.core.flow.If
        condition: "{{ true }}"
        then:
          - id: xml_to_ion
            type: io.kestra.plugin.serdes.xml.XmlToIon
            from: "{{ outputs.rss_fetch[parent.taskrun.value].outputFiles['rss_content.xml'] }}"

          - id: ion_to_json
            type: io.kestra.plugin.serdes.json.IonToJson
            from: "{{ outputs.xml_to_ion[parent.taskrun.value].uri }}"

          - id: extract_podcasts
            type: io.kestra.plugin.scripts.python.Script
            inputFiles:
              json_data.json: "{{ outputs.ion_to_json[parent.taskrun.value].uri }}"
            outputFiles:
              - podcast_data.csv
            script: |
              import json, csv, re
              from email.utils import parsedate_to_datetime

              def extract_guid(g):
                return g.get("content") if isinstance(g, dict) else g

              def extract_creator(item):
                return item.get("dc:creator") or item.get("author") or item.get("itunes:author")

              def extract_audio_url(item):
                enc = item.get("enclosure")
                return (enc.get("@url") or enc.get("url")) if isinstance(enc, dict) else None

              def parse_duration(s):
                if not s: return None
                try:
                  parts = str(s).strip().split(':')
                  if len(parts)==1: return int(parts[0])
                  elif len(parts)==2: return int(parts[0])*60+int(parts[1])
                  elif len(parts)==3: return int(parts[0])*3600+int(parts[1])*60+int(parts[2])
                except: return None

              def parse_pub_date(s):
                if not s: return None
                try: return parsedate_to_datetime(str(s)).isoformat()
                except: return None

              def word_count(t):
                return len(re.findall(r'\w+', str(t))) if t else 0

              def parse_explicit(s):
                return str(s).strip().lower() in ('yes','true','1','explicit') if s else False

              def parse_file_size(item):
                enc = item.get('enclosure', {})
                if isinstance(enc, dict):
                  try: return int(enc.get('@length') or enc.get('length') or 0) or None
                  except: return None
                return None

              with open("json_data.json","r",encoding="utf-8") as f:
                raw = json.load(f)

              rss = raw.get("rss", {})
              if not isinstance(rss, dict):
                rss = {}
              channel = rss.get("channel", {})
              if not isinstance(channel, dict):
                channel = {}
              items = channel.get("item", [])
              if isinstance(items,dict): items=[items]

              source = "{{ fromJson(parent.taskrun.value).feed_name }}"
              feed_category = "{{ fromJson(parent.taskrun.value).category }}"

              result = [{
                "title": item.get("title"),
                "link": item.get("link"),
                "description": item.get("description"),
                "duration": item.get("itunes:duration"),
                "duration_seconds": parse_duration(item.get("itunes:duration")),
                "creator": extract_creator(item),
                "pubDate": item.get("pubDate"),
                "pub_date": parse_pub_date(item.get("pubDate")),
                "guid": extract_guid(item.get("guid")),
                "audio_url": extract_audio_url(item),
                "source": source,
                "episode_number": item.get("itunes:episode"),
                "season_number": item.get("itunes:season"),
                "category": item.get("itunes:category") or feed_category,
                "keywords": item.get("itunes:keywords"),
                "description_word_count": word_count(item.get("description")),
                "audio_file_size_bytes": parse_file_size(item),
                "explicit": parse_explicit(item.get("itunes:explicit")),
                "image_url": (item.get("itunes:image") or {}).get("@href"),
              } for item in items]

              fields = [
                "guid","title","link","description","duration","duration_seconds",
                "creator","pubDate","pub_date","audio_url","source","episode_number",
                "season_number","category","keywords","description_word_count",
                "audio_file_size_bytes","explicit","image_url"
              ]
              with open('podcast_data.csv','w',newline='',encoding="utf-8") as f:
                w = csv.DictWriter(f, fieldnames=fields, quoting=csv.QUOTE_MINIMAL)
                cleaned = [r for r in result if r["guid"] and r["title"]]
                w.writeheader()
                w.writerows(cleaned)
              print(f"Feed: {source} | Extracted: {len(result)} | Valid: {len(cleaned)}")

          - id: create_staging_table
            type: io.kestra.plugin.jdbc.postgresql.Queries
            sql: |
              CREATE TABLE IF NOT EXISTS podcast_staging (
                guid TEXT, title TEXT, link TEXT, description TEXT,
                duration TEXT, duration_seconds INTEGER, creator TEXT,
                pubDate TEXT, pub_date TIMESTAMP, audio_url TEXT,
                source TEXT, episode_number INTEGER, season_number INTEGER,
                category TEXT, keywords TEXT, description_word_count INTEGER,
                audio_file_size_bytes BIGINT, explicit BOOLEAN, image_url TEXT
              );
              ALTER TABLE podcast_staging ADD COLUMN IF NOT EXISTS guid                    TEXT;
              ALTER TABLE podcast_staging ADD COLUMN IF NOT EXISTS title                   TEXT;
              ALTER TABLE podcast_staging ADD COLUMN IF NOT EXISTS link                    TEXT;
              ALTER TABLE podcast_staging ADD COLUMN IF NOT EXISTS description             TEXT;
              ALTER TABLE podcast_staging ADD COLUMN IF NOT EXISTS duration                TEXT;
              ALTER TABLE podcast_staging ADD COLUMN IF NOT EXISTS duration_seconds        INTEGER;
              ALTER TABLE podcast_staging ADD COLUMN IF NOT EXISTS creator                 TEXT;
              ALTER TABLE podcast_staging ADD COLUMN IF NOT EXISTS pubDate                 TEXT;
              ALTER TABLE podcast_staging ADD COLUMN IF NOT EXISTS pub_date                TIMESTAMP;
              ALTER TABLE podcast_staging ADD COLUMN IF NOT EXISTS audio_url               TEXT;
              ALTER TABLE podcast_staging ADD COLUMN IF NOT EXISTS source                  TEXT;
              ALTER TABLE podcast_staging ADD COLUMN IF NOT EXISTS episode_number          INTEGER;
              ALTER TABLE podcast_staging ADD COLUMN IF NOT EXISTS season_number           INTEGER;
              ALTER TABLE podcast_staging ADD COLUMN IF NOT EXISTS category                TEXT;
              ALTER TABLE podcast_staging ADD COLUMN IF NOT EXISTS keywords                TEXT;
              ALTER TABLE podcast_staging ADD COLUMN IF NOT EXISTS description_word_count  INTEGER;
              ALTER TABLE podcast_staging ADD COLUMN IF NOT EXISTS audio_file_size_bytes   BIGINT;
              ALTER TABLE podcast_staging ADD COLUMN IF NOT EXISTS explicit                BOOLEAN;
              ALTER TABLE podcast_staging ADD COLUMN IF NOT EXISTS image_url               TEXT;
              TRUNCATE TABLE podcast_staging;

          - id: load_staging_table
            type: io.kestra.plugin.jdbc.postgresql.CopyIn
            format: CSV
            header: true
            from: "{{ outputs.extract_podcasts[parent.taskrun.value].outputFiles['podcast_data.csv'] }}"
            table: podcast_staging
            columns:
              - guid
              - title
              - link
              - description
              - duration
              - duration_seconds
              - creator
              - pubDate
              - pub_date
              - audio_url
              - source
              - episode_number
              - season_number
              - category
              - keywords
              - description_word_count
              - audio_file_size_bytes
              - explicit
              - image_url

          - id: store_podcast_metadata
            type: io.kestra.plugin.jdbc.postgresql.Queries
            sql: |
              MERGE INTO podcast_metadata AS PM
              USING podcast_staging AS PS ON PM.guid = PS.guid
              WHEN NOT MATCHED THEN
                INSERT (guid,title,link,description,duration,duration_seconds,
                        creator,pubDate,pub_date,audio_url,source,
                        episode_number,season_number,category,keywords,
                        description_word_count,audio_file_size_bytes,explicit,image_url)
                VALUES (PS.guid,PS.title,PS.link,PS.description,PS.duration,PS.duration_seconds,
                        PS.creator,PS.pubDate,PS.pub_date,PS.audio_url,PS.source,
                        PS.episode_number,PS.season_number,PS.category,PS.keywords,
                        PS.description_word_count,PS.audio_file_size_bytes,PS.explicit,PS.image_url);

          - id: update_feed_timestamp
            type: io.kestra.plugin.jdbc.postgresql.Queries
            sql: |
              UPDATE podcast_feeds SET last_fetched_at = NOW()
              WHERE rss_url = '{{ fromJson(parent.taskrun.value).rss_url }}';

        else:
          - id: log_feed_error
            type: io.kestra.plugin.jdbc.postgresql.Queries
            sql: |
              CREATE TABLE IF NOT EXISTS feed_fetch_failures (
                feed_id INTEGER,
                feed_name TEXT,
                rss_url TEXT,
                error_timestamp TIMESTAMP DEFAULT NOW(),
                error_type TEXT,
                UNIQUE(feed_id, error_timestamp)
              );
              ALTER TABLE feed_fetch_failures ALTER COLUMN error_timestamp SET DEFAULT NOW();
              INSERT INTO feed_fetch_failures (feed_id, feed_name, rss_url, error_timestamp, error_type)
              VALUES ({{ fromJson(parent.taskrun.value).feed_id }}, '{{ fromJson(parent.taskrun.value).feed_name }}', '{{ fromJson(parent.taskrun.value).rss_url }}', NOW(), 'fetch_failed')
              ON CONFLICT DO NOTHING;

  - id: update_log
    type: io.kestra.plugin.jdbc.postgresql.Queries
    sql: |
      UPDATE pipeline_run_log SET
        finished_at = NOW(), status = 'success',
        feeds_processed = (SELECT COUNT(DISTINCT source) FROM podcast_metadata
          WHERE created_at >= (SELECT started_at FROM pipeline_run_log WHERE run_id = '{{ execution.id }}')),
        episodes_inserted = (SELECT COUNT(*) FROM podcast_metadata
          WHERE created_at >= (SELECT started_at FROM pipeline_run_log WHERE run_id = '{{ execution.id }}'))
      WHERE run_id = '{{ execution.id }}';

  - id: mark_failed_feeds_inactive
    type: io.kestra.plugin.jdbc.postgresql.Queries
    allowFailure: true
    sql: |
      -- Mark feeds as inactive if they have 5+ failures in the last 7 days
      UPDATE podcast_feeds
      SET is_active = FALSE, updated_at = NOW()
      WHERE feed_id IN (
        SELECT feed_id FROM feed_fetch_failures
        WHERE error_timestamp >= NOW() - INTERVAL '7 days'
        GROUP BY feed_id
        HAVING COUNT(*) >= 5
      );
      
      -- Clean up old failure records (older than 30 days)
      DELETE FROM feed_fetch_failures
      WHERE error_timestamp < NOW() - INTERVAL '30 days';

  - id: purge_files
    type: io.kestra.plugin.core.storage.PurgeCurrentExecutionFiles

errors:
  - id: log_failure
    type: io.kestra.plugin.jdbc.postgresql.Queries
    sql: |
      UPDATE pipeline_run_log SET finished_at = NOW(), status = 'failed',
        error_message = '{{ execution.id }} failed'
      WHERE run_id = '{{ execution.id }}';

  - id: mark_failed_feeds_inactive_on_error
    type: io.kestra.plugin.jdbc.postgresql.Queries
    allowFailure: true
    sql: |
      -- Mark feeds as inactive if they have 5+ failures in the last 7 days
      UPDATE podcast_feeds
      SET is_active = FALSE, updated_at = NOW()
      WHERE feed_id IN (
        SELECT feed_id FROM feed_fetch_failures
        WHERE error_timestamp >= NOW() - INTERVAL '7 days'
        GROUP BY feed_id
        HAVING COUNT(*) >= 5
      );
      
      -- Clean up old failure records (older than 30 days)
      DELETE FROM feed_fetch_failures
      WHERE error_timestamp < NOW() - INTERVAL '30 days';

pluginDefaults:
  - type: io.kestra.plugin.jdbc.postgresql
    values:
      url: jdbc:postgresql://{{ secret('DB_HOST') }}:{{ secret('DB_PORT') }}/{{ secret('DB_NAME') }}
      username: "{{ secret('DB_USER') }}"
      password: "{{ secret('DB_PASSWORD') }}"

triggers:
  - id: six_hourly_schedule
    type: io.kestra.plugin.core.trigger.Schedule
    cron: "0 */6 * * *"
    recoverMissedSchedules: ALL
