flows/rss-podcast-poc.yaml
id: rss-podcast-poc
namespace: deeptech

concurrency:
  limit: 1
  behavior: QUEUE

inputs:
  - id: rss_url
    type: SELECT
    displayName: Select rss feed
    required: true
    values: [ "commit_your_code", "tech_news", "simplecast_demo" ]
    defaults: "commit_your_code"

  - id: execution_mode
    type: SELECT
    defaults: manual
    values:
      - manual
      - scheduled

variables:
  rss_mapping:
    commit_your_code: https://anchor.fm/s/1cd48480/podcast/rss
    tech_news: https://rss.nytimes.com/services/xml/rss/nyt/Technology.xml
    simplecast_demo: https://feeds.simplecast.com/54nAGcIl

tasks:

  - id: is_scheduled
    type: io.kestra.plugin.core.flow.If
    condition: "{{trigger is defined and trigger.date is defined}}"
    then:
      - id: label_scheduled
        type: io.kestra.plugin.core.execution.Labels
        labels:
          execution_type: scheduled
          is_backfill: "true"
          trigger_date: "{{ trigger.date ?? execution.startDate ?? now() }}"
    else:
      - id: label_manual
        type: io.kestra.plugin.core.execution.Labels
        labels:
          execution_type: manual
          is_backfill: "false"
          trigger_date: none

  - id: set_label
    type: io.kestra.plugin.core.execution.Labels
    labels:
      rssUrl: "{{inputs.rss_url}}"
      execution_mode: "{{inputs.execution_mode}}"

  #-----EXTRACTION......
  # Fetch rss
  - id: rss_fetch
    type: io.kestra.plugin.core.http.Download
    uri: "{{vars.rss_mapping[inputs.rss_url]}}"
    method: GET

  #------NORMALIZATION-------
  # xml to ion
  - id: xml_to_ion
    type: io.kestra.plugin.serdes.xml.XmlToIon
    from: "{{outputs.rss_fetch.uri}}"

  # ion to json
  - id: ion_to_json
    type: io.kestra.plugin.serdes.json.IonToJson
    from: "{{outputs.xml_to_ion.uri}}"

  # extraction and transformation
  - id: extract_podcasts
    type: io.kestra.plugin.scripts.python.Script
    inputFiles:
      json_data.json: "{{outputs.ion_to_json.uri}}"
    outputFiles:
      - podcast_data.csv
    script: |
      import json
      import csv


      #---helpers---
      def extract_guid(guid_field):
        if isinstance(guid_field, dict):
          return guid_field.get("content")
        return guid_field

      def extract_creator(item):
        return (
        item.get("dc:creator")
        or item.get("author")
        or item.get("itunes:author")
        )


      #---Load JSON--------

      with open("json_data.json", "r", encoding="utf-8") as f:
        raw_json = json.load(f)
      items = raw_json["rss"]["channel"]["item"]

      #----Transform data----------
      source = "{{inputs.rss_url}}"

      result = [
        {
          "title": item.get("title"),
          "link": item.get("link"),
          "description": item.get("description"),
          "duration": item.get("itunes:duration"),
          "creator": extract_creator(item),
          "pubDate": item.get("pubDate"),
          "guid": extract_guid(item.get("guid")),
          "source": source
        }
        for item in items
      ]
      # print(f'result:{result}')
      print(f"Extracted {len(result)} episodes")

      #----Write CSV------

      with open('podcast_data.csv', 'w', newline='', encoding="utf-8") as file:
        writer = csv.DictWriter(
        file,
        fieldnames=[
          "guid",
          "title",
          "link",
          "description",
          "duration",
          "creator",
          "pubDate",
          "source"
          ],
          quoting=csv.QUOTE_MINIMAL
        )

        cleaned = [r for r in result if r["guid"] and r["title"]]
        print(f"Valid records: {len(cleaned)} / {len(result)}")

        writer.writeheader()
        writer.writerows(cleaned)

        invalid = [r for r in result if not (r["guid"] and r["title"])]
        print(f"Invalid records dropped: {len(invalid)}")

      print("=== PIPELINE SUMMARY ===")
      print(f"Feed: {source}")
      print(f"Total extracted: {len(result)}")
      print(f"Valid records: {len(cleaned)}")
      print(f"Execution time: {{ now() }}")

  # Postgres
  - id: create_table
    type: io.kestra.plugin.jdbc.postgresql.Queries
    sql: |
      CREATE TABLE IF NOT EXISTS podcast_metadata (
      guid TEXT PRIMARY KEY,
      title TEXT,
      link TEXT,
      description TEXT,
      duration TEXT,
      creator TEXT,
      pubDate TEXT,
      created_at TIMESTAMP DEFAULT NOW(),
      source TEXT
      )

  - id: create_staging_table
    type: io.kestra.plugin.jdbc.postgresql.Queries
    sql: |
      DROP TABLE IF EXISTS podcast_staging;
      CREATE TABLE podcast_staging (
      guid TEXT,
      title TEXT,
      link TEXT,
      description TEXT,
      duration TEXT,
      creator TEXT,
      pubDate TEXT,
      source TEXT
      )

  - id: load_staging_table
    type: io.kestra.plugin.jdbc.postgresql.CopyIn
    format: CSV
    from: "{{render(outputs.extract_podcasts.outputFiles['podcast_data.csv'])}}"
    table: podcast_staging
    columns:
      - guid
      - title
      - link
      - description
      - duration
      - creator
      - pubDate
      - source

  - id: store_podcast_metadata
    type: io.kestra.plugin.jdbc.postgresql.Queries
    sql: |
      MERGE INTO podcast_metadata as PM
      USING podcast_staging as PS
      ON PM.guid = PS.guid
      WHEN NOT MATCHED THEN
      INSERT (
      guid,
      title,
      link,
      description,
      duration,
      creator,
      pubDate,
      source
      )
      VALUES (
      PS.guid,
      PS.title,
      PS.link,
      PS.description,
      PS.duration,
      PS.creator,
      PS.pubDate,
      PS.source
      )

  - id: purge_files
    type: io.kestra.plugin.core.storage.PurgeCurrentExecutionFiles
    description: To avoid cluttering your storage, we will remove the downloaded files


pluginDefaults:
  - type: io.kestra.plugin.jdbc.postgresql
    values:
      url: jdbc:postgresql://pgdatabase:5432/podcast_db
      username: "{{ secret('POSTGRES_USERNAME') }}"
      password: "{{ secret('POSTGRES_PASSWORD') }}"

triggers:
  - id: tech_news_schedule
    type: io.kestra.plugin.core.trigger.Schedule
    cron: "0 * * * *"
    inputs:
      rss_url: tech_news
      execution_mode: scheduled

  - id: commit_your_code_schedule
    type: io.kestra.plugin.core.trigger.Schedule
    cron: "0 * * * *"
    inputs:
      rss_url: commit_your_code
      execution_mode: scheduled

  - id: simplecast_schedule
    type: io.kestra.plugin.core.trigger.Schedule
    cron: "0 * * * *"
    inputs:
      rss_url: simplecast_demo
      execution_mode: scheduled
