flows/rss-podcast-poc.yaml
id: rss-podcast-poc
namespace: deeptech

inputs:
  - id: rss_url
    type: SELECT
    displayName: Select rss feed
    required: true
    values: [ "commit_your_code", "tech_news", "simplecast_demo" ]
    defaults: "commit_your_code"

variables:
  rss_mapping:
    commit_your_code: https://anchor.fm/s/1cd48480/podcast/rss
    tech_news: https://rss.nytimes.com/services/xml/rss/nyt/Technology.xml
    simplecast_demo: https://feeds.simplecast.com/54nAGcIl

tasks:

  - id: set_label
    type: io.kestra.plugin.core.execution.Labels
    labels:
      rssUrl: "{{inputs.rss_url}}"

  #-----EXTRACTION......
  # Fetch rss
  - id: rss_fetch
    type: io.kestra.plugin.core.http.Download
    uri: "{{vars.rss_mapping[inputs.rss_url]}}"
    method: GET

  #------NORMALIZATION-------
  # xml to ion
  - id: xml_to_ion
    type: io.kestra.plugin.serdes.xml.XmlToIon
    from: "{{outputs.rss_fetch.uri}}"

  # ion to json
  - id: ion_to_json
    type: io.kestra.plugin.serdes.json.IonToJson
    from: "{{outputs.xml_to_ion.uri}}"

  # extraction and transformation
  - id: extract_podcasts
    type: io.kestra.plugin.scripts.python.Script
    inputFiles:
      json_data.json: "{{outputs.ion_to_json.uri}}"
    outputFiles:
      - podcast_data.csv
    script: |
      import json
      import csv

      #---Load JSON--------

      with open("json_data.json", "r", encoding="utf-8") as f:
        raw_json = json.load(f)
      items = raw_json["rss"]["channel"]["item"]

      #----Transform data----------
      result = [
        {
          "title": item.get("title"),
          "link": item.get("link"),
          "description": item.get("description"),
          "duration": item.get("itunes:duration"),
          "creator": item.get("dc:creator"),
          "pubDate": item.get("pubDate"),
          "guid": item.get("guid", {}).get("content")
        }
        for item in items
      ]
      print(f"Extracted {len(result)} episodes")

      #----Write CSV------
      with open('podcast_data.csv', 'w', newline='', encoding="utf-8") as file:
        writer = csv.DictWriter(
        file,
        fieldnames=[
          "guid",
          "title",
          "link",
          "description",
          "duration",
          "creator",
          "pubDate"
          ]
        )

        writer.writeheader()
        writer.writerows(result)

  # Postgres
  - id: create_table
    type: io.kestra.plugin.jdbc.postgresql.Queries
    sql: |
      CREATE TABLE IF NOT EXISTS podcast_metadata (
      guid TEXT PRIMARY KEY,
      title TEXT,
      link TEXT,
      description TEXT,
      duration TEXT,
      creator TEXT,
      pubDate TEXT,
      created_at TIMESTAMP DEFAULT NOW()
      )

  - id: create_staging_table
    type: io.kestra.plugin.jdbc.postgresql.Queries
    sql: |
      DROP TABLE IF EXISTS podcast_staging;
      CREATE TABLE podcast_staging (
      guid TEXT,
      title TEXT,
      link TEXT,
      description TEXT,
      duration TEXT,
      creator TEXT,
      pubDate TEXT
      )

  - id: load_staging_table
    type: io.kestra.plugin.jdbc.postgresql.CopyIn
    format: CSV
    from: "{{render(outputs.extract_podcasts.outputFiles['podcast_data.csv'])}}"
    table: podcast_staging
    columns:
      - guid
      - title
      - link
      - description
      - duration
      - creator
      - pubDate

  - id: store_podcast_metadata
    type: io.kestra.plugin.jdbc.postgresql.Queries
    sql: |
      MERGE INTO podcast_metadata as PM
      USING podcast_staging as PS
      ON PM.guid = PS.guid
      WHEN NOT MATCHED THEN
      INSERT (
      guid,
      title,
      link,
      description,
      duration,
      creator,
      pubDate
      )
      VALUES (
      PS.guid,
      PS.title,
      PS.link,
      PS.description,
      PS.duration,
      PS.creator,
      PS.pubDate
      )

  - id: purge_files
    type: io.kestra.plugin.core.storage.PurgeCurrentExecutionFiles
    description: To avoid cluttering your storage, we will remove the downloaded files
pluginDefaults:
  - type: io.kestra.plugin.jdbc.postgresql
    values:
      url: jdbc:postgresql://pgdatabase:5432/podcast_db
      username: "{{ secret('POSTGRES_USERNAME') }}"
      password: "{{ secret('POSTGRES_PASSWORD') }}"
